* {
    margin: 0;
    padding: 0;
}

html {
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    font-style: normal;
}

h2 {
    font-size: 50px;
    font-weight: 900;
}

a {
    text-decoration: none;
}

#p-dueMarkes {
    font-size: 18px;
    padding-bottom: 10px;
}

#strong-rental {
    color: #f2b87f;
    font-weight: 700;
}

#p-lorem {
    padding-bottom: 30px;
}

.container {
    width: 100%;
    max-width: 1220px;
    margin-left: auto;
    margin-right: auto;
}

h2,
.div-products {
    padding-left: 6rem;
    padding-right: 6rem;
}

.h2-title {
    padding-bottom: 40px;
    padding-top: 40px;
}

.p-product {
    font-family: none;
    font-weight: 600;
    color: #ff0000;
    font-size: 2rem;
}

.p-cifrao {
    color: #000000;
}

.a-product {
    font-family: none;
}

.div-paddingTopBot {
    padding-top: 80px;
    padding-bottom: 80px;
}

.div-products {
    background-color: #ebebeb;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.div-productsIn {
    gap: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

}

.div-product {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
    max-width: 326.67px;
    width: 100%;
    padding-bottom: 25px;
    padding-top: 70px;
}

.button-black {
    padding: 17px 0 17px;
    max-width: 212px;
    width: 100%;
    background-color: #000;
    color: #fff;
    border: none;
    font-size: 17px;
    margin: 0 auto;
    margin-top: 40px;
    margin: 0 auto;
    cursor: pointer;
}

.botao-contato {
    border-radius: 3px;
}

.button-SeeMore {
    border-radius: 32px;
    margin-top: 40px;
}

.img-product {
    width: 100%;
    height: 200px;
    max-width: 95px;
}

.div-backRed {
    background-color: #ff0000;
    display: flex;
    justify-content: center;
    padding-left: 1rem;
    padding-right: 1rem;
}

.div-content {
    background-color: #ffffff;
    text-align: center;
    width: 100%;
    max-width: 960px;
    padding: 20px 10px 20px 10px;
}

@media (width <=968px) {
    .div-product {
        max-width: 100%;
    }

    h2 {
        font-size: 32px;
    }

    h2,
    .div-products {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }

    .div-products {
        padding-top: 80px;
        padding-bottom: 80px;
    }
}