.secao-contato .formulario-contato {
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
    padding: 3rem;
    border-radius: 8px;
    margin: 2rem;
    margin-top: 0px;
}

.botao {
    display: flex;
    justify-content: center;
}

.formulario-contato input, .formulario-contato textarea {
    width: 100%;
    padding: 1rem;
    margin: 1rem 0;
    border: solid 2px #ff000f;
    font-size: 16px;
}

.formulario-contato .phone, .formulario-contato textarea {
    box-sizing: border-box;
    resize: none;
}

.formulario-contato textarea {
    padding-top: 2.3rem;
}

.input-linha {
    display: flex;
    gap: 20px;
}

.botao-contato:hover {
    background-color: black;
}

.titulo-contact{
    margin-top: 4rem;
}

.secao-sobre {
    display: flex;
    margin: 3rem 0.5rem;
    border-bottom: 7px solid #ff000f;
    margin: 0px;
}

.sobre {
    padding: 1rem;
    text-align: end;
    padding-left: 5rem;
}

.titulo-sobre{
    color: #666666;
    font-size: 2.3rem;
    font-weight: 900;
}

.span-sobre{
    color: #000;
    font-size: 4rem;
    font-weight: 900;
}

.img-sobre {
    width: 445px;
    margin-bottom: 4rem;
    margin-left: 0px;
}

.lado{
    display: flex;
}

@media (max-width: 768px) {

    .input-linha {
        gap: 0px;
        display: flex;
        flex-direction: column;
        padding-right: 2.14rem;
    }

    button {
        padding: 0.8rem 6.5rem;
        font-size: 1.2rem;
        margin: 0.5rem;
    }

    .img-sobre{
        width: 100%;
    }

    .secao-sobre{
        flex-direction: column;
    }
}