* {
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    justify-content: center;
    font-family: "Poppins", sans-serif;
    font-size: 15px;
}

h2 {
    font-size: 50px;
    font-weight: 900;
    padding-bottom: 60px;
    padding-top: 60px;
}

a {
    text-decoration: none;
}

.container {
    width: 100%;
    max-width: 1220px;
}

h2,
.div-products {
    padding-left: 6rem;
    padding-right: 6rem;
}

.p-product {
    font-family: none;
    font-weight: 600;
    color: #ff0000;
    font-size: 2rem;
}

.p-cifrao {
    color: #000000;
}

.a-product {
    font-family: none;
}

.div-products {
    background-color: #ebebeb;
    padding-top: 90px;
    padding-bottom: 90px;
    gap: 30px;
    justify-content: space-between;
}

.div-productIn {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 100%;
}

.div-product {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    background-color: #ffffff;
    height: 400px;
    max-width: 300px;
    width: 100%;
    padding-bottom: 30px;
    padding-top: 60px;
}

.button-black {
    padding: 12px 0 12px;
    max-width: 212px;
    width: 100%;
    background-color: #000;
    color: #fff;    
    border: none;
    font-size: 17px;
    margin: 0 auto;
    margin-top: 40px;
    margin: 0 auto;
}

.button-SeeMore {
    border-radius: 32px;
}
.img-product {
    width: 100%;
    height: 200px;
    max-width: 95px;
}