@media (width > 1040px) {
    #barra_navegacao {
        display: flex;
        background-image: url(images/hea.png);
        background-repeat: no-repeat;
        background-size: cover;
        height: 100px;
    }

    #titulo {
        display: flex;
        width: 45%;
    }
    #header{
        width: 100%;
        display: flex;

    }
    #nav1{
        display: flex;
        width: 100%;
    }
    #listinha {
        display: flex;
        align-items: center;
        width: 45%;
        margin-left: 10%;
    }

    .elementos {
        text-decoration: none;
        color: #ffffff;
    }

    #lista2 {
        width: 100%;
        display: flex;
        list-style-type: none;
        display: flex;
        justify-content: space-around;
        
    }
    #titulo2 {
        display: none;
    }

    #botaolegal{
        border-style: solid;
        border-color: #ffffff;
        border-radius: 20px;
        width: 150px;
        height: 40px;
        color: #ff0000;
        margin-top: 60px;
        font-weight: 700;
    }
    #titulo_luiz{
        padding-top: 50px;
        font-size: 65px;
        font-weight: 50;
        margin-bottom: 20px;
    }

    #titulo_luiz span {
        font-weight: 900;
    }
    #bannerz {
        display: flex;
        background-image: url(images/banner.jpg);
        width: 100%;
        height: 700px;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    #btn_esquerdo{
        display: flex;
        width: 10%;
        align-items: center;
        justify-content: center;
    }
    .btn_form{
        border: solid 20px #ffffff;
        border-radius: 100px;
        background-color: #ffffff;
        font-size: 20px;
    }
    #texto_luiz{
        display: flex;
        color: #ffffff;
        width: 80%;
        height: 700px;
        flex-direction: column;
        font-size: 18px;
    }
    #icones{
        color: #ffffff;
        font-size: 30px;
        margin-top: 20px;
    }


    #btn_direito{
        display: flex;
        width: 10%;
        align-items: center;
        justify-content: center;
    }
}
@media (width < 1040px) {
    #bannerz{
        display:none;
    }
    #barra_navegacao{
        display: none;
    }
    #titulo {
        display: none;
    }

    #listinha {
        display: none;
    }

    #titulo2 {
        text-align: center;
    }

    #mini_body {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    #barra_pequena {
        background-color: #ff0000;
        height: 50px;
        align-items: center;
        margin-left: 2.5%;
        margin-right: 2.5%;
        margin-top: 12px;
    }

    #banner_1 {
        background-image: url(images/banner.jpg);
        width: 100%;
        height: 500px;
        background-size: contain;
        background-repeat: no-repeat;

    }
    #texto_luiz{
        color: #ffffff;
    }
}