@media (width > 1040px) {
    #barra_navegacao {
        display: flex;
        background-image: url(/images/hea.png);
        background-repeat: no-repeat;
        background-size: cover;
        height: 100px;
    }

    #titulo {
        display: flex;
        width: 45%;
    }
    #header{
        width: 100%;
        display: flex;

    }
    #nav1{
        display: flex;
        width: 100%;
    }
    #listinha {
        display: flex;
        align-items: center;
        width: 45%;
        margin-left: 10%;
    }

    .elementos {
        text-decoration: none;
        color: #ffffff;
    }

    #lista2 {
        width: 100%;
        display: flex;
        list-style-type: none;
        display: flex;
        justify-content: space-around;
        
    }
    #titulo2 {
        display: none;
    }


    #bannerz {
        background-image: url(/images/banner.jpg);
        width: 100%;
        height: 700px;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;


    }
}
@media (width < 1040px) {
    #bannerz{
        display:none;
    }
    #barra_navegacao{
        display: none;
    }
    #titulo {
        display: none;
    }

    #listinha {
        display: none;
    }

    #titulo2 {
        text-align: center;
    }

    #mini_body {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    #barra_pequena {
        background-color: #ff0000;
        height: 50px;
        align-items: center;
        margin-left: 2.5%;
        margin-right: 2.5%;
        margin-top: 12px;
    }

    #banner_1 {
        background-image: url(/images/banner.jpg);
        width: 100%;
        height: 500px;
        background-size: contain;
        background-repeat: no-repeat;

    }
}