*{
    margin: 0;
    padding: 0;
}
#T1{
    color: white;
}
#img1{
    width: 11vw;
    padding-left: 44.0vw;
    padding-bottom: 2vh;
    
}
#P3{
    color: white;
    padding-left: 17.6vw;
    padding-bottom: 2.5vh;
}
#P2{
    color: white;
    padding-bottom: 1vh;
    padding-top: 6vh;
    text-align: center;
}
.P1{
    color: white;
    padding-bottom: 1vh;
    text-align: center;
}
#box1{
    display: flex;
    justify-content: center;
    background-color: #051108;
    flex-direction: column;
}
#nav{
    display: flex;
    list-style-type: none;
    gap: 2.55vw;
    padding-bottom: 5vh;
    padding-left: 35.5vw;
    
}
#box2{
    display: flex;
    justify-content: center;
    background-color: #ebebeb;
    height: 6vh;
    align-items: center;
}
.a1{
    text-decoration: none;
    color: white;
}
#adress{
    border-bottom: #d9d9d9 solid;
    width: 60vw;
    text-align: center;
    margin: 0 auto;
    line-height: 2vh;
    padding-top: 8vh;
}