* {
    margin: 0;
    padding: 0;
}

html {
    font-family: "Poppins", sans-serif;
    font-size: 15px;
}

h1 {
    font-size: 3rem;
    font-weight: 900;
    padding-bottom: 2rem;
    padding-top: 2rem;
}

a {
    text-decoration: none;
}

h1,
.div-products {
    padding-left: 5rem;
    padding-right: 5rem;
}

.p-product {
    font-family: none;
    font-weight: 600;
    color: #ff0000;
    font-size: 2rem;
}

.p-cifrao {
    color: #000000;
}

.a-product {
    font-family: none;
}

.div-products {
    background-color: #ebebeb;
    padding-top: 5rem;
    gap: 30px;
    justify-content: space-between;
}

.div-productIn {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 100%;
}

.div-product {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    background-color: #ffffff;
    height: 400px;
    width: 100%;
    padding-bottom: 15px;
    padding-left: 30px;
    padding-right: 30px;
}